html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.fa-moon,
.fa-sun {
  margin-top: 10px;
}

.changeTheme {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  background: linear-gradient(to left, var(--limeGreen), var(--brightCyan));
  color: var(--white);
  border: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  transition: transform 50ms ease-in-out;

  &:hover,
  :focus {
    cursor: pointer;
    transform: scale(1.05);
    outline: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .dark {
    //primary:
    --brightCyan: hsl(192, 12%, 60%);
    --darkBlue: rgb(163, 166, 187);
    --limeGreen: rgb(187, 202, 191);

    .fa-moon {
      display: none;
    }

    //neutral:
    --grayishBlue: #222831;
    --lightGrayishBlue: #393e46;
    --veryLightGray: #00adb5;
    --white: #eeeeee;

    img {
      filter: brightness(10);
    }
  }
}

@media (prefers-color-scheme: light) {
  .light {
    //primary:
    --brightCyan: hsl(192, 70%, 51%);
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen: hsl(136, 65%, 51%);

    .fa-sun {
      display: none;
    }

    //neutral:
    --grayishBlue: hsl(233, 8%, 62%);
    --lightGrayishBlue: hsl(220, 16%, 96%);
    --veryLightGray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
  }
}

body {
  background-color: var(--lightGrayishBlue);
  font-family: "Public Sans", sans-serif;
  font-size: size("md");
  font-weight: weight("light");
  line-height: 1.3;
  margin: 0;

  padding: 0;
}

.button {
  background: linear-gradient(to left,
      var(--limeGreenButton),
      var(--brightCyanButton));
  border: 0;
  border-radius: 50px;
  color: var(--white);
  cursor: pointer;
  padding: 0.875rem 2.1875rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

// spacing
.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

//flexbox styles
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

.hide-for-mobile {

  //hide for mobile
  @include bp-down(medium) {
    display: none;
  }
}

.hide-for-desktop {

  //hide for desktops
  @include bp-up(large) {
    display: none;
  }
}

// colors themes