html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.fa-moon,
.fa-sun {
  margin-top: 8px;
}

.changeTheme {
  background: linear-gradient(to left, var(--limeGreen), var(--brightCyan));
  border: 0;
  border-radius: 50%;
  bottom: 10px;
  color: var(--white);
  font-size: 30px;
  height: 45px;
  position: fixed;
  right: 10px;
  text-align: center;
  transition: transform 50ms ease-in-out;
  width: 45px;
  z-index: 3;

  &:hover,
  :focus {
    cursor: pointer;
    transform: scale(1.05);
    outline: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .dark {
    //primary:
    --brightCyan: hsl(192, 12%, 60%);
    --darkBlue: rgb(163, 166, 187);
    --limeGreen: rgb(187, 202, 191);
    > a {
      .fa-moon {
        display: none;
        content: none;
      }
      .fa-sun {
        opacity: 1;
      }

    }
    //neutral:
    --grayishBlue: #222831;
    --lightGrayishBlue: #393e46;
    --veryLightGray: #343f3f;
    --white: #eeeeee;

    img {
      filter: brightness(10);
    }
  }
}

.fa-sun {
 opacity: 0;
}
@media (prefers-color-scheme: light) {
  .light {
    //primary:
    --brightCyan: hsl(192, 70%, 51%);
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen: hsl(136, 65%, 51%);
    //neutral:
    --grayishBlue: hsl(233, 8%, 62%);
    --lightGrayishBlue: hsl(220, 16%, 96%);
    --veryLightGray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
  }
}

body {
  background-color: var(--lightGrayishBlue);
  font-family: "Public Sans", sans-serif;
  font-size: size("md");
  font-weight: weight("light");
  line-height: 1.3;
  margin: 0;
  padding: 0;
  transition: background 0.2s linear;
  &.noscroll {
    overflow: hidden;
  }
  @include bp-up (large) {
    font-size: size("md");
  }
}
h1, h2, h3 {
  margin-top: 0;
}
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
.button {
  background: linear-gradient(to left,
      var(--limeGreenButton),
      var(--brightCyanButton));
  border: 0;
  border-radius: 50px;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  font-size: size("sm");
  font-weight: weight("normal");
  transition: opacity 300ms ease-in-out;

  &:hover {
    opacity: 0.75;
}
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

// spacing
.container {
  margin: 0 auto;
  max-width: 69.375rem;

  &--pall{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
  &--px {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  &--py {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
  &--pt {
    padding-top: 2.25rem;
  }
  &--pr {
    padding-right: 1.5rem;
  }
  &--pb {
    padding-bottom: 2.25rem;
  }
  &--pl {
    padding-left: 1.5rem;
  }
}

//flexbox styles
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

.hide-for-mobile {

  //hide for mobile
  @include bp-down(medium) {
    display: none;
  }
}

.hide-for-desktop {

  //hide for desktops
  @include bp-up(large) {
    display: none;
  }
}

// colors themes