.hero {
  &__img {
    background-image: url('/images/bg-intro-mobile.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 17.5rem;
    position: relative;
    
    &::before {
      background-image: url('/images/image-mockups.png');
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: 89%;
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }
  &__txt {
    text-align: center;
    h1 {
      color: var(--darkBlue);
      font-size: 2.31rem;
      font-weight: weight("light");
      line-height: 1.15;
    }
   }
}